name: discord bot

on:
  push:
    branches:
      - main

jobs:
  test_discord_job:
    runs-on: ubuntu-20.04
    steps:
      - name: Notify on Success
        uses: rjstone/discord-webhook-notify@v1.0.0
        with:
          severity: info
          details: Test Succeeded!
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
 