name: Notify Discord

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-20.04

    steps:

      - name: Notify on Success
        if: success()
        run: |
          curl -H "Content-Type: application/json" \
               -X POST \
               -d '{"content": "Test Succeeded!"}' \
               ${{ secrets.DISCORD_WEBHOOK }}

      - name: Something failed
        if: failure()
        run: |
          curl -H "Content-Type: application/json" \
               -X POST \
               -d '{"content": "Commit ${{ github.sha }} from repo ${{ github.repository }} failed."}' \
               ${{ secrets.DISCORD_WEBHOOK }}
